@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media  creen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}
@media  creen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}