/* font-family: 'Poppins', sans-serif; */
.container {
    position: relative;
    width: 1100px;
    height: 4350px;
    background: #fff;
    margin: 0 auto;
}
.nav {
    position: absolute;
    width: 1100px;
    height: 54px;
    left: 80px;
    top: 35px;
    display: flex;
}
.nav img {
    width: 97px;
    height: 30px;
    margin-top: 12px;
}
ul {
    margin-left: 200px;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Poppins';
}
li {
    width: 100px;
}
.btn_1 a {
    display: inline;
    width: 52px;
    height: 27px;
    margin-top: -17px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-left: 170px;
    border: 2px solid rgba(0, 153, 255, 1);
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    text-decoration: none;
    color: #0099FF;
}
.textright {
    position: absolute;
    top: 300px;
    left: 80px;
}
.ellipse img {
    width: 400px;
}
h1 {
    font-family: 'Poppins';
    color: #333333;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 40px;
    margin-bottom: 20px;
}
.span_1 {
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #999999;
    font-weight: 500;
    font-size: 11px;
}
.photoRight {
    position: absolute;
    left: 520px;
    top: 110px;
}
.photoRight img {
    width: 530px;
    height: 530px;
}
.checkNow {
    position: absolute;
    top: 190px;
    left: 2px;
    text-decoration: none;
    font-family: 'Poppins';
    letter-spacing: 0.05em;
    font-size: 13px;
    line-height: 27px;
    background: #0099FF;
    border-radius: 5px;
    padding: 5px 25px;
    color: #fff;
}
.StepCheck {
    position: absolute;
    width: 1100px;
    height: 680px;
    background: rgba(215, 241, 246, 0.34);
}
.h6 {
    position: absolute;
    width: 316px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    left: 500px;
    letter-spacing: 0.05em;
    color: #333333;
}
.h3 {
    position: absolute;
    width: 632px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #333333;
    top: 100px;
    left: 250px;
}
.cards {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 800px;
    left: 170px;
    top: 400px
}
.card1, .card2, .card3 {
    width: 230px;
    height: 120px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    padding-top: 40px;
    font-family: 'Poppins';
    color: #999999;
}
.cards p {
    color: #333333;
    font-weight: 600;
}
.img1 {
    position: absolute;
    left: 233px;
    top: 315px;
    width: 100px;
    height: 100px;
}
.img2 {
    position: absolute;
    left: 527px;
    top: 315px;
}
.img3 {
    position: absolute;
    left: 800px;
    top: 315px;
}
.aboutUs {
    position: absolute;
    width: 1100px;
    height: 680px;
}
.fonBlaw {
    position: absolute;
    top: 760px;
    left: 60px;
}
.fonBlaw img {
    width: 480px;
}
.woman {
    position: absolute;
    top: 720px;
}
.woman img {
    position: absolute;
    width: 490px;
    left: 50px;
}
.rightH6 {
    position: absolute;
    left: 560px;
    top: 1420px;
    width: 500px;
    height: 400px;
}
.rightH6 h6 {
    width: 99px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #333333;
}
.rightH6 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 15px;
    color: #333333;
}
.rightH6 span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #999999;
}
.btn2 a {
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    font-family: 'Poppins';
    font-size: 16px;
    padding: 11px 35px;
    background: #0099FF;
    border-radius: 5px;
    position: absolute;
    top: 330px;
    width: 130px;
    height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}
.OurDoctors {
    position: absolute;
    width: 1100px;
    height: 680px;
    top: 2000px;
    background-color: rgba(215, 241, 246, 0.34);
}
.OurDoctors h6 {
    position: absolute;
    left: 500px;
    width: 316px;
    height: 50px;
    top: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #333333;
}
.OurDoctors h3 {
    position: absolute;
    top: 110px;
    left: 260px;
    text-align: center;
    width: 600px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #333333;
    letter-spacing: 0.05em;
}
.img_1 {
    position: absolute;
    top: 300px;
    left: 70px;
    width: 220px;
    border-radius: 4px;
}
.img_2 {
    position: absolute;
    top: 300px;
    left: 320px;
    width: 220px;
    border-radius: 4px;
}
.img_3 {
    position: absolute;
    top: 300px;
    left: 570px;
    width: 220px;
    border-radius: 4px;
}
.img_4 {
    position: absolute;
    top: 300px;
    left: 820px;
    width: 220px;
    border-radius: 4px;
}
.white1 {
    text-align: left;
    padding: 8px 10px;
    width: 180px;
    height: 100px;
    background: #fff;
    position: absolute;
    left: 80px;
    top: 510px;
    border-radius: 4px;
}
.contact1 {
    width: 97px;
    display: flex;
    justify-content: space-between;
}
.span_2 {
    font-family: 'Poppins';
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #333333;
    font-size: 15px;
}
.span_3 {
    position: absolute;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 13px;
    top: 83px;
    left: 12px;
}
.white2 {
    width: 200px;
    height: 116px;
    background: #fff;
    position: absolute;
    left: 330px;
    top: 510px;
    border-radius: 4px;
}
.contact2 {
    margin-left: 11px;
    padding-top: 8px;
    width: 97px;
    display: flex;
    justify-content: space-between;
}
.span_4 {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #333333;
    padding: 0 10px;
}
.span_5 {
    position: absolute;
    top: 78px;
    left: 12px;
    font-family: 'Poppins';
    letter-spacing: 0.04em;
    color: #333333;
    font-size: 14px;
}
.white3 {
    width: 200px;
    height: 116px;
    background: #fff;
    position: absolute;
    left: 580px;
    top: 510px;
    border-radius: 4px;
}
.contact3 {
    margin-left: 11px;
    padding-top: 8px;
    width: 97px;
    display: flex;
    justify-content: space-between;
}
.span_6 {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #333333;
    padding: 0 10px;
}
.span_7 {
    position: absolute;
    top: 78px;
    left: 12px;
    font-family: 'Poppins';
    letter-spacing: 0.04em;
    color: #333333;
    font-size: 14px;
}
.white4 {
    width: 200px;
    height: 116px;
    background: #fff;
    position: absolute;
    left: 830px;
    top: 510px;
    border-radius: 4px;
}
.contact4 {
    margin-left: 11px;
    padding-top: 8px;
    width: 97px;
    display: flex;
    justify-content: space-between;
}
.span_8 {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #333333;
    padding: 0 10px;
}
.span_9 {
    position: absolute;
    top: 78px;
    left: 12px;
    font-family: 'Poppins';
    letter-spacing: 0.04em;
    color: #333333;
    font-size: 14px;
}
.testimonials {
    position: absolute;
    width: 1100px;
    height: 1130px;
    top: 2680px;
}
.texttop {
    position: absolute;
    top: 30px;
    left: 80px;
    width: 295px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #333333;
}
.texttop2 {
    position: absolute;
    top: 130px;
    left: 80px;
    width: 632px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #333333;
}
.imge5 {
    position: absolute;
    width: 460px;
    top: 300px;
    left: 80px;
    border-radius: 2px;
}
.imge6 {
    position: absolute;
    width: 460px;
    top: 300px;
    left: 580px;
    border-radius: 3px;
}
.box5 {
    background-color: #F1FAFC;
    position: absolute;
    top: 581px;
    left: 80px;
    width: 460px;
    height: 170px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}
.span_10 {
    position: absolute;
    top: 15px;
    left: 17px;
    width: 103px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
}
.span_11 {
    position: absolute;
    top: 50px;
    left: 17px;
    width: 472px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #333333;
}
.stars {
    position: absolute;
    top: 130px;
    left: 180px;
    width: 80px;
}
.box6 {
    background-color: #F1FAFC;
    position: absolute;
    top: 581px;
    left: 580px;
    width: 460px;
    height: 170px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}
.span_12 {
    position: absolute;
    top: 15px;
    left: 17px;
    width: 103px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
}
.span_13 {
    position: absolute;
    top: 50px;
    left: 17px;
    width: 472px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #333333;
}
.blackbox {
    background: #333333;
    position: absolute;
    top: 830px;
    left: 80px;
    width: 960px;
    height: 300px;
}
.whitetext {
    position: absolute;
    left: 60px;
    width: 677px;
    height: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.span_14 {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 323px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.btn_login {
    position: absolute;
    width: 170px;
    height: 45px;
    top: 170px;
    left: 700px;
    background: #0099FF;
    border-radius: 5px;
    text-align: center;
    padding: 5px 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}
.btn_log {
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 40px;
    color: #FFFFFF;
}
.footer {
    position: absolute;
    width: 1100px;
    height: 426px;
    top: 3812px;
    background-color: rgba(241, 250, 252, 1);
}
.imgH {
    position: absolute;
    top:90px;
    left: 80px;
}
.span_15 {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 440px;
    height: 98px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #333333;
}
.btnTW {
    position: absolute;
    top: 300px;
    left: 80px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 3px;
}
.btnINS {
    position: absolute;
    top: 300px;
    left: 130px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 3px;
}
.btnLIN {
    position: absolute;
    top: 300px;
    left: 180px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 3px;
}
.btnYOU {
    position: absolute;
    top: 300px;
    left: 230px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 3px;
}
.btnWHAT {
    position: absolute;
    top: 300px;
    left: 280px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    padding-left: 6px;
    padding-top: 8px;
    border-radius: 3px;
}
.btnBe {
    position: absolute;
    top: 300px;
    left: 330px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    padding-left: 6px;
    padding-top: 8px;
    border-radius: 3px;
}
.FMH6 {
    position: absolute;
    top: 30px;
    left: 590px;
    width: 72px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
}
.aAbout {
    position: absolute;
    top: 136px;
    left: 590px;
    width: 58px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #000000;
}
.aHome {
    position: absolute;
    top: 194px;
    left: 590px;
    width: 58px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #000000;
}
.aService {
    position: absolute;
    top: 250px;
    left: 590px;
    width: 58px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #000000;
}
.FH6 {
    position: absolute;
    top: 29px;
    left: 723px;
    width: 407px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: #000000;
}
input {
    position: absolute;
    top: 150px;
    left: 723px;
    width: 287px;
    height: 50px;
    padding-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.04em;
    background: #494949;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.61);
}
.btnSubscribe {
    position: absolute;
    top: 220px;
    left: 724px;
    width: 200px;
    height: 40px;
    background-color: #0099FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 11px;
    border-radius: 5px;
    color: #FFFFFF;
}